<a href="https://colab.research.google.com/github/Imeneallouche/Data-Preprocessing-workshop-preparation-AI-Horizens-event/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import numpy as np

In [64]:
from google.colab import files
uploaded = files.upload()

Saving Book1.xlsx to Book1 (1).xlsx

In [253]:
Df = pd.read_excel("Book1 (1).xlsx")
Df.head()

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,Male,Caucasian,leukemia,Chemotherapy,3.0,0.4,No,Teacher,70 kg,170 cm,120.0,80.0
1,2,Jane,35,Female,Afrcan,Lymphoma,Radiation therapy,4.0,0.3,Yes,Nurse,60 kg,165 cm,110.0,70.0
2,3,Bob,55,Male,HISPANIC,Multiple Myeloma,Radiation therapy,2.0,0.5,No,Enginer,80 kg,180 cm,130.0,90.0
3,4,Lily,25,Female,Asian,Myelodysplastic Syndrome,bone marrow transplant,1.0,0.6,No,student,55 kg,160 cm,115.0,75.0
4,5,Tom,65,Male,Caucasian,Leukemia,Chemotherapy,4.0,0.2,No,Retire,75 kg,175 cm,125.0,85.0

In [254]:
Df

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,Male,Caucasian,leukemia,Chemotherapy,3.0,0.40,No,Teacher,70 kg,170 cm,120.0,80.0
1,2,Jane,35,Female,Afrcan,Lymphoma,Radiation therapy,4.0,0.30,Yes,Nurse,60 kg,165 cm,110.0,70.0
2,3,Bob,55,Male,HISPANIC,Multiple Myeloma,Radiation therapy,2.0,0.50,No,Enginer,80 kg,180 cm,130.0,90.0
3,4,Lily,25,Female,Asian,Myelodysplastic Syndrome,bone marrow transplant,1.0,0.60,No,student,55 kg,160 cm,115.0,75.0
4,5,Tom,65,Male,Caucasian,Leukemia,Chemotherapy,4.0,0.20,No,Retire,75 kg,175 cm,125.0,85.0
5,6,Sarah,35,Female,African,Lymphoma,Radiation therapy,NaN,0.30,Yes,Lawyer,63 kg,170 cm,NaN,NaN
6,7,David,45,Male,Hispanic,Leukemia,Chemotherapy,3.0,0.40,No,Manager,68 kg,165 cm,NaN,NaN
7,8,Alice,25,Female,asian,Myelodysplastic Syndrome,Bone marrow transplant,1.0,0.60,No,Student,54 kg,155 cm,NaN,NaN
8,9,Tom,65,Male,Caucasian,Leukemia,Chemotherapy,4.0,0.20,No,Retired,75 kg,175 cm,125.0,85.0
9,10,Sarah,35,Female,African,Lymphoma,Radiation therapy,NaN,NaN,Yes,lawyer,63 kg,170 cm,110.0,70.0
10,11,Maria,48,Female,Hispanic,Multiple Myeloma,Radiation therapy,2.0,0.45,Yes,Business Owner,70 kg,160 cm,120.0,80.0
11,12,Mark,30,Male,Caucasian,Leukemia,Chemotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Deduplication**

In [255]:
Df.duplicated(subset="Name")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
dtype: bool

In [256]:
Df_deduplicated = Df.drop_duplicates(subset=["Name"], inplace=False)
Df_deduplicated

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,Male,Caucasian,leukemia,Chemotherapy,3.0,0.40,No,Teacher,70 kg,170 cm,120.0,80.0
1,2,Jane,35,Female,Afrcan,Lymphoma,Radiation therapy,4.0,0.30,Yes,Nurse,60 kg,165 cm,110.0,70.0
2,3,Bob,55,Male,HISPANIC,Multiple Myeloma,Radiation therapy,2.0,0.50,No,Enginer,80 kg,180 cm,130.0,90.0
3,4,Lily,25,Female,Asian,Myelodysplastic Syndrome,bone marrow transplant,1.0,0.60,No,student,55 kg,160 cm,115.0,75.0
4,5,Tom,65,Male,Caucasian,Leukemia,Chemotherapy,4.0,0.20,No,Retire,75 kg,175 cm,125.0,85.0
5,6,Sarah,35,Female,African,Lymphoma,Radiation therapy,NaN,0.30,Yes,Lawyer,63 kg,170 cm,NaN,NaN
6,7,David,45,Male,Hispanic,Leukemia,Chemotherapy,3.0,0.40,No,Manager,68 kg,165 cm,NaN,NaN
7,8,Alice,25,Female,asian,Myelodysplastic Syndrome,Bone marrow transplant,1.0,0.60,No,Student,54 kg,155 cm,NaN,NaN
10,11,Maria,48,Female,Hispanic,Multiple Myeloma,Radiation therapy,2.0,0.45,Yes,Business Owner,70 kg,160 cm,120.0,80.0
11,12,Mark,30,Male,Caucasian,Leukemia,Chemotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Inconsistant Data Entry**

In [257]:
#loop through each column to see the unique values it got
for column in Df.columns.values:
  print(column,":",Df_deduplicated[column].unique(),"\n")

ID : [ 1  2  3  4  5  6  7  8 11 12]

Name : ['John' 'Jane' 'Bob' 'Lily' 'Tom' 'Sarah' 'David' 'Alice' 'Maria' 'Mark']

Age : [45 35 55 25 65 48 30]

Gender : ['Male' 'Female']

Ethnicity : ['Caucasian' 'Afrcan' 'HISPANIC' 'Asian' 'African' 'Hispanic' 'asian']

Type of Blood Cancer : ['leukemia' 'Lymphoma' 'Multiple Myeloma' 'Myelodysplastic Syndrome'
 'Leukemia']

Treatment : ['Chemotherapy' 'Radiation therapy' 'bone marrow transplant'
 'Bone marrow transplant']

Stage : [ 3.  4.  2.  1. nan]

Survival Rate : [0.4  0.3  0.5  0.6  0.2  0.45  nan]

Family History : ['No' 'Yes' nan]

Occupation : ['Teacher' 'Nurse' 'Enginer' 'student' 'Retire' 'Lawyer' 'Manager'
 'Student' 'Business Owner' nan]

Weight : ['70 kg' '60 kg' '80 kg' '55 kg' '75 kg' '63 kg' '68 kg' '54 kg' nan]

Height : ['170 cm' '165 cm' '180 cm' '160 cm' '175 cm' '155 cm' nan]

Blood Pressure highest : [120. 110. 130. 115. 125.  nan]

Blood Pressure lowest : [80. 70. 90. 75. 85. nan]

In [258]:
Df_deduplicated["Ethnicity"] = Df_deduplicated["Ethnicity"].str.lower()
Df_deduplicated["Type of Blood Cancer"] = Df_deduplicated["Type of Blood Cancer"].str.lower()
Df_deduplicated["Occupation"] = Df_deduplicated["Occupation"].str.lower()
Df_deduplicated["Treatment"] = Df_deduplicated["Treatment"].str.lower()

#loop through each column to see the unique values it got
for column in Df_deduplicated.columns.values:
  print(column,":",Df_deduplicated[column].unique(),"\n")

ID : [ 1  2  3  4  5  6  7  8 11 12]

Name : ['John' 'Jane' 'Bob' 'Lily' 'Tom' 'Sarah' 'David' 'Alice' 'Maria' 'Mark']

Age : [45 35 55 25 65 48 30]

Gender : ['Male' 'Female']

Ethnicity : ['caucasian' 'afrcan' 'hispanic' 'asian' 'african']

Type of Blood Cancer : ['leukemia' 'lymphoma' 'multiple myeloma' 'myelodysplastic syndrome']

Treatment : ['chemotherapy' 'radiation therapy' 'bone marrow transplant']

Stage : [ 3.  4.  2.  1. nan]

Survival Rate : [0.4  0.3  0.5  0.6  0.2  0.45  nan]

Family History : ['No' 'Yes' nan]

Occupation : ['teacher' 'nurse' 'enginer' 'student' 'retire' 'lawyer' 'manager'
 'business owner' nan]

Weight : ['70 kg' '60 kg' '80 kg' '55 kg' '75 kg' '63 kg' '68 kg' '54 kg' nan]

Height : ['170 cm' '165 cm' '180 cm' '160 cm' '175 cm' '155 cm' nan]

Blood Pressure highest : [120. 110. 130. 115. 125.  nan]

Blood Pressure lowest : [80. 70. 90. 75. 85. nan]

<ipython-input-258-87e0bdefacfb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_deduplicated["Ethnicity"] = Df_deduplicated["Ethnicity"].str.lower()
<ipython-input-258-87e0bdefacfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_deduplicated["Type of Blood Cancer"] = Df_deduplicated["Type of Blood Cancer"].str.lower()
<ipython-input-258-87e0bdefacfb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_deduplicated["Occupation"] = Df_deduplicated["Occupation"].str.lower()
<ipython-input-258-87e0bdefacfb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_deduplicated["Treatment"] = Df_deduplicated["Treatment"].str.lower()

In [106]:
!pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.8/dist-packages (0.18.0)

In [259]:
import fuzzywuzzy
from fuzzywuzzy import process

for value in Df_deduplicated["Ethnicity"].unique():
  matches = fuzzywuzzy.process.extract(value, Df_deduplicated["Ethnicity"].unique(), limit=3, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
  print("these are the matches of",value,":",matches)

these are the matches of caucasian : [('caucasian', 100), ('asian', 71), ('afrcan', 40)]
these are the matches of afrcan : [('afrcan', 100), ('african', 92), ('asian', 55)]
these are the matches of hispanic : [('hispanic', 100), ('asian', 46), ('african', 40)]
these are the matches of asian : [('asian', 100), ('caucasian', 71), ('african', 67)]
these are the matches of african : [('african', 100), ('afrcan', 92), ('asian', 67)]

In [260]:
def replace_matches_in_column(df, column, string_to_match, min_ratio = 80):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=3, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [261]:
replace_matches_in_column(Df_deduplicated, "Ethnicity" , "african")
replace_matches_in_column(Df_deduplicated, "Occupation" , "engineer")

All done!
All done!

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [262]:
Df_deduplicated

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,Male,caucasian,leukemia,chemotherapy,3.0,0.40,No,teacher,70 kg,170 cm,120.0,80.0
1,2,Jane,35,Female,african,lymphoma,radiation therapy,4.0,0.30,Yes,nurse,60 kg,165 cm,110.0,70.0
2,3,Bob,55,Male,hispanic,multiple myeloma,radiation therapy,2.0,0.50,No,engineer,80 kg,180 cm,130.0,90.0
3,4,Lily,25,Female,asian,myelodysplastic syndrome,bone marrow transplant,1.0,0.60,No,student,55 kg,160 cm,115.0,75.0
4,5,Tom,65,Male,caucasian,leukemia,chemotherapy,4.0,0.20,No,retire,75 kg,175 cm,125.0,85.0
5,6,Sarah,35,Female,african,lymphoma,radiation therapy,NaN,0.30,Yes,lawyer,63 kg,170 cm,NaN,NaN
6,7,David,45,Male,hispanic,leukemia,chemotherapy,3.0,0.40,No,manager,68 kg,165 cm,NaN,NaN
7,8,Alice,25,Female,asian,myelodysplastic syndrome,bone marrow transplant,1.0,0.60,No,student,54 kg,155 cm,NaN,NaN
10,11,Maria,48,Female,hispanic,multiple myeloma,radiation therapy,2.0,0.45,Yes,business owner,70 kg,160 cm,120.0,80.0
11,12,Mark,30,Male,caucasian,leukemia,chemotherapy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **How many missing data points do we have?**

In [263]:
#it calculates the missing values count in each column: returns an array of all the columns and the number of missing values
missing_values_count = Df.isnull().sum()

#print missing values count in all columns
missing_values_count[0:]

ID                        0
Name                      0
Age                       0
Gender                    0
Ethnicity                 0
Type of Blood Cancer      0
Treatment                 0
Stage                     3
Survival Rate             2
Family History            1
Occupation                1
Weight                    1
Height                    1
Blood Pressure highest    4
Blood Pressure lowest     4
dtype: int64

In [264]:
# how many total missing values do we have?
total_cells = np.product(Df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

9.444444444444445

In [220]:
#columns of records that haven't been recorded
Columns=["Blood Pressure highest", "Blood Pressure lowest","Survival Rate", "Height", "Weight"]

for column in Columns:
  Df_deduplicated[column].fillna(Df_deduplicated[column].mean())

TypeError: ignored

In [265]:
Columns=["Blood Pressure highest", "Blood Pressure lowest","Stage", "Survival Rate"]

for column in Columns:
  mean = Df_deduplicated[column].mean()
  Df_deduplicated[column].fillna(value=mean, inplace=True)

Df_deduplicated

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,Male,caucasian,leukemia,chemotherapy,3.0,0.400000,No,teacher,70 kg,170 cm,120.0,80.0
1,2,Jane,35,Female,african,lymphoma,radiation therapy,4.0,0.300000,Yes,nurse,60 kg,165 cm,110.0,70.0
2,3,Bob,55,Male,hispanic,multiple myeloma,radiation therapy,2.0,0.500000,No,engineer,80 kg,180 cm,130.0,90.0
3,4,Lily,25,Female,asian,myelodysplastic syndrome,bone marrow transplant,1.0,0.600000,No,student,55 kg,160 cm,115.0,75.0
4,5,Tom,65,Male,caucasian,leukemia,chemotherapy,4.0,0.200000,No,retire,75 kg,175 cm,125.0,85.0
5,6,Sarah,35,Female,african,lymphoma,radiation therapy,2.5,0.300000,Yes,lawyer,63 kg,170 cm,120.0,80.0
6,7,David,45,Male,hispanic,leukemia,chemotherapy,3.0,0.400000,No,manager,68 kg,165 cm,120.0,80.0
7,8,Alice,25,Female,asian,myelodysplastic syndrome,bone marrow transplant,1.0,0.600000,No,student,54 kg,155 cm,120.0,80.0
10,11,Maria,48,Female,hispanic,multiple myeloma,radiation therapy,2.0,0.450000,Yes,business owner,70 kg,160 cm,120.0,80.0
11,12,Mark,30,Male,caucasian,leukemia,chemotherapy,2.5,0.416667,NaN,NaN,NaN,NaN,120.0,80.0

# **Data Transformation**

In [266]:
Gender = {'Male':0, 'Female' :1}
Ethnicity = {'african':0 , 'asian':1 , 'caucasian':2, 'hispanic':3 }
Type_Blood_Cancer={'leukemia':0 ,'lymphoma':1 , 'multiple myeloma':2, 'myelodysplastic syndrome':3 }
treatment = {'chemotherapy':0 ,'lymphoma':1 , 'radiation therapy':2, 'bone marrow transplant':3 }
Occupation = {'teacher':0, 'nurse':1, 'engineer':2 , 'student':3 , 'retire':4, 'lawyer':5 ,'manager':6, 'business owner':7}
Family_History = {'No':0, 'Yes':1}
Df_deduplicated = Df_deduplicated.replace( 
    { "Gender" : Gender ,
     "Ethnicity" : Ethnicity ,
     "Type of Blood Cancer" : Type_Blood_Cancer,
     "Treatment":treatment ,
     'Occupation' : Occupation,
     'Family History': Family_History
     } )

Df_deduplicated

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,0,2,0,0,3.0,0.400000,0.0,0.0,70 kg,170 cm,120.0,80.0
1,2,Jane,35,1,0,1,2,4.0,0.300000,1.0,1.0,60 kg,165 cm,110.0,70.0
2,3,Bob,55,0,3,2,2,2.0,0.500000,0.0,2.0,80 kg,180 cm,130.0,90.0
3,4,Lily,25,1,1,3,3,1.0,0.600000,0.0,3.0,55 kg,160 cm,115.0,75.0
4,5,Tom,65,0,2,0,0,4.0,0.200000,0.0,4.0,75 kg,175 cm,125.0,85.0
5,6,Sarah,35,1,0,1,2,2.5,0.300000,1.0,5.0,63 kg,170 cm,120.0,80.0
6,7,David,45,0,3,0,0,3.0,0.400000,0.0,6.0,68 kg,165 cm,120.0,80.0
7,8,Alice,25,1,1,3,3,1.0,0.600000,0.0,3.0,54 kg,155 cm,120.0,80.0
10,11,Maria,48,1,3,2,2,2.0,0.450000,1.0,7.0,70 kg,160 cm,120.0,80.0
11,12,Mark,30,0,2,0,0,2.5,0.416667,NaN,NaN,NaN,NaN,120.0,80.0

In [ ]:
for i in Df_deduplicated.index.values:
  value= Df_deduplicated.at[i,"Height"]
  if(not value:)
    Df_deduplicated.at[i,"Height"] = int(value.replace('cm','').strip())

In [ ]:
for i in Df_deduplicated.index.values:
  value= Df_deduplicated.at[i,"Weight"]
  if(not value):
    Df_deduplicated.at[i,"Weight"] = int(value.replace('kg','').strip())

In [276]:
for i in Df_deduplicated['Height'].values:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [271]:
Df_deduplicated

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,0,2,0,0,3.0,0.400000,0.0,0.0,70,170,120.0,80.0
1,2,Jane,35,1,0,1,2,4.0,0.300000,1.0,1.0,60,165,110.0,70.0
2,3,Bob,55,0,3,2,2,2.0,0.500000,0.0,2.0,80,180,130.0,90.0
3,4,Lily,25,1,1,3,3,1.0,0.600000,0.0,3.0,55,160,115.0,75.0
4,5,Tom,65,0,2,0,0,4.0,0.200000,0.0,4.0,75,175,125.0,85.0
5,6,Sarah,35,1,0,1,2,2.5,0.300000,1.0,5.0,63,170,120.0,80.0
6,7,David,45,0,3,0,0,3.0,0.400000,0.0,6.0,68,165,120.0,80.0
7,8,Alice,25,1,1,3,3,1.0,0.600000,0.0,3.0,54,155,120.0,80.0
10,11,Maria,48,1,3,2,2,2.0,0.450000,1.0,7.0,70,160,120.0,80.0
11,12,Mark,30,0,2,0,0,2.5,0.416667,NaN,NaN,NaN,NaN,120.0,80.0

# **Data Standardization**

In [286]:
for i in Df_deduplicated.index.values:

  value= Df_deduplicated.at[i,"Height"]
  min = Df_deduplicated["Height"].min
  max = Df_deduplicated["Height"].max

  Df_deduplicated.at[i,"Height"] = 0 + (value-min)*(2-0)/(max-min)

TypeError: ignored

In [284]:
Df_deduplicated

,ID,Name,Age,Gender,Ethnicity,Type of Blood Cancer,Treatment,Stage,Survival Rate,Family History,Occupation,Weight,Height,Blood Pressure highest,Blood Pressure lowest
0,1,John,45,0,2,0,0,3.0,0.400000,0.0,0.0,70,170,120.0,80.0
1,2,Jane,35,1,0,1,2,4.0,0.300000,1.0,1.0,60,165,110.0,70.0
2,3,Bob,55,0,3,2,2,2.0,0.500000,0.0,2.0,80,180,130.0,90.0
3,4,Lily,25,1,1,3,3,1.0,0.600000,0.0,3.0,55,160,115.0,75.0
4,5,Tom,65,0,2,0,0,4.0,0.200000,0.0,4.0,75,175,125.0,85.0
5,6,Sarah,35,1,0,1,2,2.5,0.300000,1.0,5.0,63,170,120.0,80.0
6,7,David,45,0,3,0,0,3.0,0.400000,0.0,6.0,68,165,120.0,80.0
7,8,Alice,25,1,1,3,3,1.0,0.600000,0.0,3.0,54,155,120.0,80.0
10,11,Maria,48,1,3,2,2,2.0,0.450000,1.0,7.0,70,160,120.0,80.0
11,12,Mark,30,0,2,0,0,2.5,0.416667,NaN,NaN,NaN,NaN,120.0,80.0